{% extends 'base.html.twig' %}

{% block title %}Soutenance {% endblock %}

{% block body %}

<article>

	<h2>{{ session.nom }}</h2>
	<a href="{{ path('export_soutenance', {'id': session.id}) }}">
		<button type="submit" class="btn btn-success" id="export_soutenance">
	Exporter
		</button>
</a>

		<a href="{{ path('soutenance_new') }}" class="btn btn-primary">Ajouter une soutenance</a><br><br>

	{% for soutenance in soutenances %}
	<div class="jumbotron">
		<h2 class="display-3">{{ soutenance.titre }}</h2>
	
	<div class="metadata">{{ soutenance.dateSoutenance | date ('d/m/Y') }} à {{ soutenance.dateSoutenance | date('H:i') }}</div>
	<div class="content">
		<img src="{{ soutenance.image }}" alt="">
		{% if soutenance.session is not null %}<p>Session : {{ soutenance.session.nom }}</p> {% endif %}
		
		<p>Description : {{ soutenance.description }}</p>
						 {% if is_granted('ROLE_ADMIN') %}
		
		<a href="{{ path('soutenance_edit', {'id': soutenance.id}) }}" class="btn btn-warning">Modifier</a>
		{% endif %}
		<p>Note Final : {{ soutenance.note |round(2, 'floor') }}</p>
				<a href="{{ path('add_commentaire', {'id': soutenance.id}) }}" class="btn btn-primary">Ajouter un commentaire</a>
		
		{% for commentaire in soutenance.commentaires %}
		<div class="card text-white bg-success mb-3">
          <div class="card-header">{{ commentaire.auteur }}</div>
          <div class="card-body">
            <h4 class="card-title">Note: {{ commentaire.note | round(2, 'floor') }}</h4>
            <p class="card-text">{{ commentaire.contenu }}</p>
          </div>
        </div>
        
			{% endfor %}
			
		<a href="{{ path('soutenance_show', {'id': soutenance.id }) }}" class="btn btn-primary">Voir la {{ soutenance.titre }}</a>
	</div>
	</div>
	{% endfor %}
</article>
{% endblock %}
