{% extends 'base.html.twig' %}

{% block main %}

    <h1>Demandes de création de compte organisateur</h1>

    <p>
        Ci-dessous sont listées les demandes de création de compte organisateur 
        en attente de validation. Vous avez la possibilité de les approuver 
        ou de les rejeter à tout moment.
    </p>

    <table>

        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Adresse mail</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>

        {% for account_request in account_requests %}

            <tr>
                <td>{{ account_request.id }}</td>
                <td>{{ account_request.firstName }}</td>
                <td>{{ account_request.lastName }}</td>
                <td>{{ account_request.email }}</td>
                <td>

                    <a href="{{ path('validate_account_request', {'id': account_request.id}) }}">Valider</a>
                    <a href="{{ path('decline_account_request', {'id': account_request.id}) }}">Refuser</a>
                    <a href="{{ path('show_account_request', {'id': account_request.id}) }}">Détails</a>
                    
                </td>
            </tr>

        {% else %}

            <tr>
                <td colspan="5">Aucune demande n'a été formulée pour le moment...</td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

{% endblock %}
