{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
<h1>Bonjour {{ user.firstName}}</h1>
    <article>
        <div class="jumbotron">
            <h2 class="display-4">{{ session.nom }} : du {{ session.dateDebut | date ('d/m/Y') }} au {{ session.dateFin | date ('d/m/Y') }}</h2>
     
            {% if is_granted('ROLE_ADMIN') %}
    		<a href={{ path('export_session',{'id': session.id} ) }}><button type="button" class="btn btn-light">Upload notes</button></a>
            {% endif %}
            <h5>{{ session.description }}</h5>

            <ul>
            {% for soutenance in session.soutenances %}
                    <li><a href={{ path('soutenance_show', {'id': soutenance.id, uid:user.uid}) }}>{{ soutenance.titre }}
                    </a></li> <a href={{ path('evaluer_soutenance',{'id': soutenance.id, 'uid':user.uid,'uidSession':session.uid} ) }}><button type="button" class="btn btn-primary">Evaluer</button></a>
                    </a></li> <a href={{ path('add_commentaire',{'uid':user.uid, 'uidSession':session.uid,'id': soutenance.id} ) }}><button type="button" class="btn btn-info">Commenter</button></a>
            {% endfor %}
            </ul>

        </div>



        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success" href="{{ path('session_edit', {'id': session.id}) }}">
                Modifier
            </a>

            <a class="btn btn-success" href="{{ path('session_mail', {'id': session.id}) }}">
                Envoyer les mails
            </a>
        {% endif %}
    </article>
{% endblock %}