{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ titre }}</h1>
                <a class="btn btn-primary" href="{{ path('upload_modele') }}">Importer un modèle
                </a>
{{ form_start(form) }}

{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}